@media (max-width:1024px) {
    .header-span-tag {
        display: none;
    }
    .fa-user,
    .fa-bag-shopping,
    .fa-heart {
        font-size: 1.063rem;
    }
    .fa-book-open-reader {
        margin-right: 0.938rem;
    }
    .footer-wrapper {
        flex-wrap: wrap;
        gap: 3.125rem;
    }
    .left-side-div {
        width: 480px;
        padding: 30px 0;
        margin-right: 30px;
    }
    .left-side-div h2 {
        font-size: 24px;
    }
    .newsletter-section-wrapper {
        flex-direction: column;
        padding: 25px;
    }
    .title-div h2 {
        text-align: center;
    }
    .newsletter-div p {
        text-align: center;
    }
    .newsletter-block {
        text-align: center;
    }
    .form-email-block {
        margin: 15px auto 0 auto;
    }




    
}













@media (max-width:768px) {
    .header-section-wrapper {
        padding-left: 0.313rem;
    }
    .footer-wrapper {
        justify-content: space-around;
    }
    .ebook-section {
        padding: 0;
        background-position: 50% 30%;
        padding-left: 20px;
    }
    .accordion { height: auto; }
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      transition: none;
    }
    .carousel img {
        width: calc(100% / 2);
    }



  

}






@media (max-width:480px) {
    .fa-magnifying-glass {
        right: 15%;
    }
    .header-icon-wrapper {
        display: none;
    }
    .fa-book-open-reader {
        margin-right: 1.875rem;
    }
    .ul-item {
        display: none;
    }
    .burger-bar {
        display: block;
    }
    .left-side-div {
        width: 380px;
        width: 80%;
    }
    .title-div h2 {
        font-size: 26px;
    }

    .ebook-section {
        height: 730px;
    }
    .ebook-section {
        background-position: 54% 30%; 
    }
    .form-email-block {
        flex-direction: column;
    }
    .subscribe-button {
        margin-top: 8px;
    }
    .newsletter-email-input {
        border-radius: 4px;
    }
    .subscribe-button {
        border-radius: 4px;
    }
    .books-text-div {
        padding: 0 15px;
    }
    .books-title {
        padding: 50px 12px 0 12px;
    }
    .carousel img {
        width: 100%;
    }
   

    
}







@media (max-width:320px) {
    .burger-bar {
        width: 1.875rem;
        height: 2.5rem;
    }
    .footer-wrapper {
        justify-content: space-between;
    }
    .social-media-icons {
        align-items: flex-start;
    }
    .form-wrapper,
    .sign-up-block {
        padding: 0 1.25rem;
    }
    .left-side-div {
        margin: 0;
    }
    .login-button {
        font-size: 15px;
    }
    ::placeholder {
        font-size: 10px;
    }
    .horizontal-line {
        width: 16px;
    }
    .ebook-title span {
        font-size: 15px;
    }
    .left-side-div h2 {
        font-size: 21px;
    }
    .left-side-div p {
        font-size: 16px;
    }
    .ebook-section {
        background-position: center;
    }
    .email-ebook {
        width: 100%;
    }
    #card-container {
        padding: 0 15px;
    }
    .card {
        width: 280px;
        height: 380px;
    }

    

    
}