@media (max-width:1024px) {
    .header-span-tag {
        display: none;
    }
    .fa-user,
    .fa-bag-shopping,
    .fa-heart {
        font-size: 1.063rem;
    }
    .fa-book-open-reader {
        margin-right: 0.938rem;
    }
    .footer-wrapper {
        flex-wrap: wrap;
        gap: 3.125rem;
    }


    
}













@media (max-width:768px) {
    .header-section-wrapper {
        padding-left: 0.313rem;
    }
    .footer-wrapper {
        justify-content: space-around;
    }
}






@media (max-width:480px) {
    .fa-magnifying-glass {
        right: 15%;
    }
    .header-icon-wrapper {
        display: none;
    }
    .fa-book-open-reader {
        margin-right: 1.875rem;
    }
    .ul-item {
        display: none;
    }
    .burger-bar {
        display: block;
    }

    
}







@media (max-width:320px) {
    .burger-bar {
        width: 1.875rem;
        height: 2.5rem;
    }
    .footer-wrapper {
        justify-content: space-between;
    }
    .social-media-icons {
        align-items: flex-start;
    }
    .form-wrapper,
    .sign-up-block {
        padding: 0 1.25rem;
    }
    

    
}