.inter {
    font-family: Inter;
    font-style: normal;
}
.roboto {
    font-family: Roboto;
    font-style: normal;
}
.header-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 82.188rem;
    width: 100%;
    margin: 2.625rem auto 0.625rem auto;
    padding: 0 1.25rem;
}
.fa-book-open-reader {
    font-size: 2.188rem;
    color: #173F5F;
    margin-left: 1.563rem;
}
.header-input-wrapper {
    max-width: 31.25rem;
    width: 100%;
    position: relative;
}
#searchInput {
    width: 90%;
    height: 2.063rem;
    border: none;
    border-radius: 1.563rem;
    outline: none;
    padding-left: 0.625rem;
    background-color: #f2f2f2;
}
.fa-magnifying-glass {
    position: absolute;
    top: 25%;
    right: 13%;
    font-size: 0.875rem;
    height: 0.875rem;
    color: #173F5F;
}
.header-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24.125rem;
    height: 1.063rem;
}
.fa-user,
.fa-bag-shopping,
.fa-heart {
    margin-right: 0.438rem;
    font-size: 0.75rem;
    height: 0.813rem;
    color: #173F5F;
}
.small-line {
    width: 0.125rem;
    height: 1.063rem;
    border: 0.063rem solid #D1D1D1;
    border-radius: 0.125rem;
}
.header-span-tag {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    color: #173F5F;
}
.header-line {
    width: 90%;
    border: 0.063rem solid #E0E0E0; 
    margin: 2.375rem auto 2.188rem auto;
}
/* Navigation */

.header-navigation-wrapper {
    padding: 0 2.5rem;
    position: relative;
}
.ul-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    max-width: 56.25rem;
    width: 100%;
    margin: 0 auto;
    color: #173F5F;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.135rem;
}
.ul-item.toggleNav {
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3.125rem;
}
.header-a-item {
    color: #173F5F;
}
.home:hover,
.about-us:hover,
.books:hover,
.blog:hover {
    border-bottom: 0.125rem solid #173F5F;
}
.nav-active {
    border-bottom: 0.125rem solid #173F5F;
}
.burger-bar {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 2.188rem;
    height: 3.125rem;
    /* border: none;
    border-radius: 0.125rem; */
    /* border: 2px solid black; */
    display: none;
    cursor: pointer;
    margin-right: 0.938rem;
}
.line {
    width: 80%;
    height: 0.125rem;
    background-color: #173F5F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    transition: all 0.75s;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activeBurger .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.activeBurger .line3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.activeBurger .line2 {
    display: none;
}

/* Cookies */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px); 
    display: none; 
    z-index: 90; 
}
#modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 80px 60px;
    font-size: 18px;
    font-weight: 500;
    z-index: 100;
    background: white;
    border-radius: 8px;
    display: none;
}
.fa-cookie-bite {
    font-size: 70px;
    color: #10314d;
    margin-bottom: 15px;
}
#modalBox p {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #3a5d7c;

}
#modalBox button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #10314d;
    color: #FFFFFF;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.25s;
}
#modalBox button:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.fa-xmark {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    color: #10314d;
}






/* Cookies */

/* Middle Section */
.middle-section {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    margin: 7.5rem auto 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.5rem;
    color: #343e54;
}
/* Middle Section */

/* Account - Registration Form */
.form-wrapper {
    max-width: 21.25rem;
    width: 100%;
    margin: 0 auto;
}
.sign-up-block {
    max-width: 37.5rem;
    width: 100%;
    margin: 80px auto 0 auto;
    text-align: center;
}
.sign-up-block h3 {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #173F5F;
    margin: 4.375rem 0 0.938rem 0;
}
.apple-div,
.fb-div {
    max-width: 21.25rem;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #293141;
    padding: 0.375rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
}
.fb-div {
    margin-top: 0.938rem;
}
.apple-div:hover,
.fb-div:hover {
    background-color: #e6e6e6;
}
.fa-apple,
.fa-facebook {
    margin-right: 0.375rem;
    font-size: 1.125rem;
}
.account-text {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #173F5F;
    margin: 3.125rem 0 0.625rem 0;
}
.submit-button {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #424e66;
    background-color: #F2F2F2;
    max-width: 21.25rem;
    width: 100%;
    height: 2.563rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1.375rem;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #e6e6e6;
}
.form-element {
    display: flex;
    flex-direction: column;
    max-width: 21.25rem;
    width: 100%;
    outline: none;
 }
.label-item {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #424e66;
 }
.input-item {
    height: 2.5rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    color: #173F5F;
    font-size: 1.125rem;
    background-color: #F2F2F2;
}
.check-box-wrapper {
    display: flex;
    justify-content: center;
}
.checkbox {
    margin-right: 1.25rem;
}
.checkbox-text {
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 1.875rem;
    color: #173F5F;
}
.terms {
    color: #d86339;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}
.error-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgb(207, 19, 19); 
    height: 0.313rem;
    margin-bottom: 0.625rem;
}
.password-input {
    position: relative;
}
.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 52%;
    right: 5%;
    color: #173F5F;
    font-size: 0.938rem;
}
#emailError {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgb(207, 19, 19); 
}
/* Account - Registration Form */

/* Footer */
.footer {
    background: linear-gradient(90deg, rgba(251, 236, 236, 0.52) 0%, rgba(230, 235, 234, 0.52) 13.33%, rgba(230, 225, 232, 0.52) 54.58%, rgba(239, 232, 224, 0.52) 99.86%);
    margin-top: 5rem;
    padding-bottom: 0.5rem;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 81.25rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.125rem;
}
.footer-book-icon {
    width: 2.5rem;
    margin: 0 auto 2.5rem auto;
    padding-top: 3.125rem;
}
.contact-info-block {
    max-width: 15.625rem;
    display: flex;
    margin-bottom: 1.563rem;  
}
.footer-icon {
    background-color: #e6e6e6;
    color: #002746;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    border-radius: 50%;
    margin-right: 0.625rem;
}
.footer-contact-info {
    display: flex;
    flex-direction: column;
}
.footer-contact-info span,
.a-item-footer {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #002746;
}
.a-item-footer {
    color: #1f4f76;
}
.service-option span,
.working-hour span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #002746;
}
.footer-ul-list,
.working-hour p {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: #1f4f76;
}
.working-hour {
    margin-top: 1.875rem;
}
.social-media-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    margin-top: 0.938rem;
    color: #002746;
}
.footer-line {
    margin-bottom: 0.938rem;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;      
}
.copyright p {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #002746;
}
.divider {
    border-left: 0.063rem solid #3c475e;
    height: 0.938rem;
    margin: 0 0.813rem;
}


/* E BOOKS SECTION */
.ebook-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    max-width: 1449px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/conversation_journalstory_0.jpeg);
    background-size: cover; /* Adjust as needed */
    background-position: right; /* Position the background image to the right and center it vertically */
    height: 600px;
  }
  
.ebook-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}
.horizontal-line {
  border-top: 1.5px solid #a11010;
  width: 20px; 
}
.ebook-title span {
    color: #a11010;
    font-family: 'Open Sans SemiCondensed';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 0 0 4px 12px;

}
.left-side-div {
    max-width: 627px;
    width: 100%;
}
.left-side-div h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0.9px;
    color: #173F5F;
    max-width: 600px;
    width: 100%;
}
.left-side-div p {
    color: #265d8a;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    max-width: 627px;
    width: 100%;
    margin: 4px 0;
}
.left-side-div span {
    color: #a11010;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}
.email-ebook {
    width: 70%;
    height: 42px;
    outline: none;
    background: #FFF;
    padding-left: 7px;
    border: none;
    border-radius: 4px;
    
}
.email-ebook::placeholder {
    color: #BCBCBC;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: capitalize;
  }
  .login-button {
    width: 153px;
    height: 42px;
    border-radius: 4px;
    border: none;
    background-color: #a11010;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 8px;

  }

  .login-button:hover {
    opacity: 0.9;

  }

  .email-ebook-div {
    align-items: center;
    margin-top: 34px;
  }




/* E BOOKS SECTION */

/* NEWS LETTER SECTION */
.newsletter-section {
    background: #f0f5f5;
}
.newsletter-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 80px;
}
.title-div {
    max-width: 380px;
    width: 100%;
    
}
.title-div h2 { 
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    color: #173F5F;
}
.newsletter-div p {
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 400;
    line-height: 208%; 
    letter-spacing: 0.4px;
}
.newsletter-div {
    max-width: 500px;
    width: 100%;
}
.form-email-block input::placeholder {
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: capitalize;
}

.newsletter-email-input {
    border: none;
    outline: none;
    max-width: 13.75rem;
    width: 100%;
    height: 2rem;
    border-radius: 4px 0 0 4px;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #556987;
    padding-left: 0.938rem;
}
.subscribe-button {
    width: 140px;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #a11010;
    cursor: pointer;
    margin-left: -5px;
   
}
.subscribe-button:hover {
    opacity: 0.8;
}
.form-email-block {
    margin-top: 15px;
    max-width: 364px;
    width: 100%;
    display: flex;
    align-items: center;


}

  
  


/* NEWS LETTER SECTION */


/* Accordion Slider */

.accordion {
    width: 100%;
    height: 520px;
    overflow: hidden;
    margin: 50px auto;
  }
.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 520px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}
.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}
.accordion ul li div a {
    display: block;
    height: 520px;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 250px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}
.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-20px);
    transition: all 400ms ease;
}
.accordion ul li div a h2 {
    font-family: 'Open Sans SemiCondensed';
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
    letter-spacing: 1.4px;
  }
.accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
}
.accordion ul li:nth-child(1) { background-image: url("../images/camus.webp"); }
.accordion ul li:nth-child(2) {
    background-image: url("../images/nietzsche.jpeg");
    background-size: cover; 
}
.accordion ul li:nth-child(3) {
    background-image: url("../images/ilia.jpg");
    background-size: cover;
}
.accordion ul li:nth-child(4) { background-image: url("../images/max.jpg"); }
.accordion ul li:nth-child(5) { background-image: url("../images/hesse.jpeg"); }
.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover { width: 60%; }
.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.accordion ul:hover li:hover a * {
  opacity: 1;
  transform: translateX(0);
}


/* ---------- title section */
.books-title {
    font-family: 'Edu SA Beginner';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 80px auto 20px auto;
  }
  
  .books-title h2 {
    margin: 4px; /* To remove any default margin on the heading */
  }
.books-text-div {
    max-width: 770px;
    width: 100%;
    margin: 23px auto 50px auto;
    font-family: 'Open Sans SemiCondensed';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: center;
}

  

/* Books - Book Section */
#card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

  }
  
  .card {
    /* height: 55vh;
    width: calc((100% / 3) - 16px); */
    width: 300px;
    height: 450px;
    /* margin: 8px; */
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Adjust the value as needed */
    background-position: center; /* Adjust the value as needed */
    cursor: pointer;
    margin: 0 auto 25px auto;
  }
  

  
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #load-more {
    /* width: calc((100% / 3) - 8px); */
    width: 250px;
    padding: 16px;
    background-color: rgb(239, 239, 226);
    color: #002746;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin: 0 auto;
    
  }
  
  #load-more:not([disabled]):hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  }
  
  #load-more[disabled] {
    background-color: #eaeaea !important;
  }
  .showing-number span {
    max-width: 36.25rem;
    width: 90%;
    margin: 7.5rem auto 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5rem;
    color: #343e54;
    /* padding-left: 8px; */

  }

  
  
  
  






/* Books - Book Section */






/* Slider */
/* .bestseller-div {
    position: relative;
} */
.bestseller-div h2 {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5rem;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 70px;
    margin-bottom: -50px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.slider-section {
    background: rgb(28, 59, 87);
   
}
.slider-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.wrapper {
    max-width: 1200px;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    background: #fff;
    color: #33445d;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
}
.wrapper i:first-child {
    left: -23px;
    display: none;
}
.wrapper i:last-child {
    right: -23px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    /* height: 240px; */
    height: 500px;
    object-fit: cover;
    width: calc(98% / 3);
    margin-left: 14px;
    object-position: 50% 20%;
}
.carousel img:first-child {
    margin-left: 0px;
}

/* Scroll to top */
html {
    scroll-behavior: smooth;
}
.to-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #ffffff;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.to-top.activeTop {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}



/* ACCORDION  */
.accordion-div-block {
    width: 80%;
    min-height: 100vh;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    text-align: center;
    font-weight: 700;
    line-height: 1.5rem;
    color: #343e54;


    font-size: 3rem;
    margin: 6rem 0 2rem 0;
    
}
.accordion-div-block h2 {
    font-weight: 900;
    line-height: 1.5rem;
    color: #343e54;
    font-size: 1.5rem;
    margin: 13px 0 25px 0;

}
.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #343e54;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #343e54;
    font-weight: 700;
    line-height: 1.5rem;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    color: #343e54;
}
.answer span {
    color: #dd2424;
    font-weight: 900;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.activeAccordion .answer {
    /* max-height: 300px; */
    max-height: 400px;
    animation: fade 1s ease-in-out;
}
.faq.activeAccordion i {
    transform: rotate(180deg);
}
i {
    transition: transform .5s ease-in;
}
 @keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
 }








/* ACCORDION  */




/* FETCH */
.reviews {
    max-width: 240px;
    width: 100%;
    margin: 100px auto 30px auto;
}
.reviews h2 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4rem;
    color: #002746;
}
#user-list {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;

}
.user-name {
    font-size: 1.5rem;
    color: #002746;
    font-weight: 900;
    line-height: 1.4rem;
    margin-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
}
.user-info {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #002746;
    font-family: 'Josefin Sans';
    margin-bottom: 4px;
    font-style: normal;
}
.review {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #002746;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
}

/* JS Search */
.filterContainer {
    max-width: 37.5rem;
    width: 100%;
    margin: 6.25rem auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, .1);
    padding: 1.25rem 0.938rem;
    text-align: center;
}
.filterContainer h1 {
    margin-bottom: 1.25rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.063rem;
    color: #1a3852;
}
.filterContainer input {
    outline: none;
    width: calc(100% - 1px);
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    border: none; 
    border-radius: 0.25rem;
    background: transparent;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.filterContainer input::placeholder {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 1rem;
}
.filterContainer ul {
    width: 100%;
    background-color: #10314d;
    border-radius: 0.25rem;
    cursor: pointer;
}
.filterContainer ul li {
    padding: 0.938rem 0;
}
.filterContainer ul li a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Josefin Sans';
}
.filterContainer ul li:hover {
    background-color: #FFFFFF;
}
.filterContainer ul li:hover a {
    color: #000000; 
}
/* JS Search */

/* Search Books */
.books-section-wrapper {
    max-width: 83.125rem;
    width: 100%;
    margin: 8.125rem auto 0 auto;
}
.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.875rem;
    padding: 0 1.875em;
    margin-bottom: 6.25rem;
}
.div-title h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    font-size: 1.5rem;
    margin-bottom: 1.563rem;
    padding-left: 1.25rem;
}
.book-wrapper img {
    width: 18.75rem;
    height: 25rem;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
/* Search Books */