.inter {
    font-family: 'Inter';
    font-style: normal;
}
.roboto {
    font-family: 'Roboto';
    font-style: normal;
}
.header-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 82.188rem;
    width: 100%;
    margin: 2.625rem auto 0.625rem auto;
    padding: 0 1.25rem;
}
.fa-book-open-reader {
    font-size: 2.188rem;
    color: #173F5F;
    margin-left: 1.563rem;
}
.header-input-wrapper {
    max-width: 31.25rem;
    width: 100%;
    position: relative;
}
#searchInput {
    width: 90%;
    height: 2.063rem;
    border: none;
    border-radius: 1.563rem;
    outline: none;
    padding-left: 1rem;
    background-color: #f2f2f2;
}
#searchInput::placeholder {
    font-family: 'Josefin Sans';
    font-weight: 900;
}
.fa-magnifying-glass {
    position: absolute;
    top: 25%;
    right: 13%;
    font-size: 0.875rem;
    height: 0.875rem;
    color: #173F5F;
}
.header-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24.125rem;
    height: 1.063rem;
}
.fa-user,
.fa-bag-shopping,
.fa-heart {
    margin-right: 0.438rem;
    font-size: 0.75rem;
    height: 0.813rem;
    color: #173F5F;
}
.small-line {
    width: 0.125rem;
    height: 1.063rem;
    border: 0.063rem solid #D1D1D1;
    border-radius: 0.125rem;
}
.header-span-tag {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    color: #173F5F;
}
.header-line {
    width: 90%;
    border: 0.063rem solid #E0E0E0; 
    margin: 2.375rem auto 1rem auto;
}


/* Navigation */
.header-navigation-wrapper {
    padding: 0 2.5rem;
    position: relative;
    margin-top: 1.8rem;
}
.ul-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    max-width: 56.25rem;
    width: 100%;
    margin: 0 auto;
    color: #173F5F;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.135rem;
}
.ul-item.toggleNav {
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3.125rem;
}
.header-a-item {
    color: #173F5F;
}
.home:hover,
.about-us:hover,
.books:hover,
.blog:hover {
    border-bottom: 0.125rem solid #173F5F;
}
.nav-active {
    border-bottom: 0.125rem solid #173F5F;
}
.burger-bar {
    position: absolute;
    right: 0.625rem;
    width: 2.813rem;
    height: 2.813rem;
    display: none;
    cursor: pointer;
    margin-right: 0.938rem;
    margin-top: 0.625rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header-navigation-wrapper {
    z-index: 10;
}
.line {
    width: 55%;
    height: 0.125rem;
    background-color: #173F5F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    transition: all 0.75s;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activeBurger .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.activeBurger .line3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.activeBurger .line2 {
    display: none;
}
/* Navigation */



/* Cookie Notification */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px); 
    display: none; 
    z-index: 90; 
}
#modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 28.125rem;
    text-align: center;
    padding: 5rem 3.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    z-index: 100;
    background: white;
    border-radius: 0.5rem;
    display: none;
}
.fa-cookie-bite {
    font-size: 4.375rem;
    color: #10314d;
    margin-bottom: 0.938rem;
}
#modalBox p {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #3a5d7c;
}
#modalBox button {
    font-family: 'Josefin Sans';
    background-color: #10314d;
    color: #FFFFFF;
    padding: 0.938rem 0;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 3.125rem;
    cursor: pointer;
    transition: all 0.25s;
}
#modalBox button:hover {
    box-shadow: 0 0.625rem 0.938rem rgba(0, 0, 0, 0.2);
}
#closeIcon {
    width: 2.813rem;
    height: 2.813rem;
    position: absolute;
    top: 1.125rem;
    right: 0.313rem;
    cursor: pointer;
    color: #10314d;
}
/* Cookies */


/* Middle Section */
.middle-section {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    margin: 5rem auto 0 auto;
    text-align: center;
    font-size: 1.375rem;
    line-height: 2rem;
    color: #343e54;
    letter-spacing: 0.003rem;
}
/* Middle Section */

/* Account - Registration Form */
.form-wrapper {
    max-width: 21.25rem;
    width: 100%;
    margin: 0 auto;
}
.sign-up-block {
    max-width: 37.5rem;
    width: 100%;
    margin: 0rem auto;
    text-align: center;
}
.sign-up-block h3 {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #173F5F;
    margin: 3rem 0 0.938rem 0;
}
.apple-div,
.fb-div {
    max-width: 21.25rem;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #293141;
    padding: 0.375rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
}
.fb-div {
    margin-top: 0.938rem;
}
.apple-div:hover,
.fb-div:hover {
    background-color: #e6e6e6;
}
.fa-apple,
.fa-facebook {
    margin-right: 0.375rem;
    font-size: 1.125rem;
}
.account-text {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.875rem;
    color: #173F5F;
    margin: 3.125rem 0 0.625rem 0;
}
.submit-button {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #424e66;
    background-color: #F2F2F2;
    max-width: 21.25rem;
    width: 100%;
    height: 2.563rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1.375rem;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #e6e6e6;
}
.form-element {
    display: flex;
    flex-direction: column;
    max-width: 21.25rem;
    width: 100%;
    outline: none;
 }
.label-item {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #424e66;
 }
.input-item {
    height: 2.5rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    color: #173F5F;
    font-size: 1.125rem;
    background-color: #F2F2F2;
}
.check-box-wrapper {
    display: flex;
    justify-content: center;
}
.checkbox {
    margin-right: 1.25rem;
}
.checkbox-text {
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 1.875rem;
    color: #173F5F;
}
.terms {
    color: #d86339;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}
.error-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgb(207, 19, 19); 
    height: 0.313rem;
    margin-bottom: 0.625rem;
}
.password-input {
    position: relative;
}
.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 52%;
    right: 5%;
    color: #173F5F;
    font-size: 0.938rem;
}
#emailError {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgb(207, 19, 19); 
}
/* Account - Registration Form */

/* Footer */
.footer {
    background: linear-gradient(90deg, rgba(251, 236, 236, 0.52) 0%, rgba(230, 235, 234, 0.52) 13.33%, rgba(230, 225, 232, 0.52) 54.58%, rgba(239, 232, 224, 0.52) 99.86%);
    margin-top: 5rem;
    padding-bottom: 0.5rem;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 81.25rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.125rem;
}
.footer-book-icon {
    width: 2.5rem;
    margin: 0 auto 2.5rem auto;
    padding-top: 3.125rem;
}
.contact-info-block {
    max-width: 15.625rem;
    display: flex;
    margin-bottom: 1.563rem;  
}
.footer-icon {
    background-color: #e6e6e6;
    color: #002746;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    border-radius: 50%;
    margin-right: 0.625rem;
}
.footer-contact-info {
    display: flex;
    flex-direction: column;
}
.footer-contact-info span,
.a-item-footer {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #002746;
}
.a-item-footer {
    color: #1f4f76;
}
.service-option span,
.working-hour span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #002746;
}
.footer-ul-list,
.working-hour p {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: #1f4f76;
}
.working-hour {
    margin-top: 1.875rem;
}
.social-media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.938rem;
    color: #002746;
}
.footer-line {
    margin-bottom: 0.938rem;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;      
}
.copyright p {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #002746;
}
.divider {
    border-left: 0.063rem solid #3c475e;
    height: 0.938rem;
    margin: 0 0.813rem;
}
/* Footer */


/* Ebook Section */
.ebook-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.125rem;
    max-width: 90.563rem;
    width: 100%;
    margin: 2rem auto 0 auto;
    background-image: url(../images/conversation_journalstory_0.jpeg);
    background-size: cover; 
    background-position: right;
    height: 37.5rem;
}
.ebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
}
.horizontal-line {
  border-top: 1.5px solid #a11010;
  width: 1.25rem; 
}
.ebook-title span {
    color: #a11010;
    font-family: 'Open Sans SemiCondensed';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 0 0 0.25rem 0.75rem;
}
.left-side-div {
    max-width: 39.188rem;
    width: 100%;
}
.left-side-div h2 {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0.9px;
    color: #173F5F;
    max-width: 37.5rem;
    width: 100%;
}
.left-side-div p {
    color: #265d8a;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    max-width: 39.188rem;
    width: 100%;
    margin: 0.25rem 0;
}
.left-side-div span {
    color: #a11010;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}
.email-ebook {
    width: 70%;
    height: 2.625rem;
    outline: none;
    background: #FFF;
    padding-left: 0.438rem;
    border: none;
    border-radius: 0.25rem;
}
.email-ebook::placeholder {
    color: #BCBCBC;
    font-family: 'Inter';
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: capitalize;
}
.login-button {
    width: 9.563rem;
    height: 2.625rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #a11010;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 0.5rem;
  }
.login-button:hover {
    opacity: 0.9;
}
.email-ebook-div {
    align-items: center;
    margin-top: 2.125rem;
}
/* Ebook Section */


/* Newsletter Section */
.newsletter-section {
    background: #f0f5f5;
}
.newsletter-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 81.25rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem;
}
.title-div {
    max-width: 23.75rem;
    width: 100%; 
}
.title-div h2 { 
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.375rem;
    text-transform: capitalize;
    color: #173F5F;
}
.newsletter-div p {
    color: #7A7A7A;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 208%; 
    letter-spacing: 0.4px;
}
.newsletter-div {
    max-width: 31.25rem;
    width: 100%;
}
.form-email-block input::placeholder {
  color: #9a9a9a;
  font-size: 0.813rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: capitalize;
}
.newsletter-email-input {
    border: none;
    outline: none;
    max-width: 13.75rem;
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem 0 0 0.25rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #556987;
    padding-left: 0.938rem;
}
.subscribe-button {
    width: 8.75rem;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    background-color: #a11010;
    cursor: pointer;
    margin-left: -5px;
}
.subscribe-button:hover {
    opacity: 0.8;
}
.form-email-block {
    margin-top: 0.938rem;
    max-width: 22.75rem;
    width: 100%;
    display: flex;
    align-items: center;
}
/* Newsletter Section */


/* Accordion Slider */
.accordion {
    width: 100%;
    height: 32.5rem;
    overflow: hidden;
    margin: 3.125rem auto;
}
.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 32.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}
.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}
.accordion ul li div a {
    display: block;
    height: 32.5rem;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 15.625rem 1.25rem;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: all 200ms ease;
}
.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-20px);
    transition: all 400ms ease;
}
.accordion ul li div a h2 {
    font-family: 'Open Sans SemiCondensed';
    text-overflow: clip;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.125rem;
    top: 10rem;
    letter-spacing: 1.4px;
}
.accordion ul li div a p {
    top: 10rem;
    font-size: 13.5px;
    font-family: 'Roboto';
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
}
.accordion ul li:nth-child(1) { background-image: url("../images/camus.webp"); }
.accordion ul li:nth-child(2) {
    background-image: url("../images/nietzsche.jpeg");
    background-size: cover; 
}
.accordion ul li:nth-child(3) {
    background-image: url("../images/ilia.jpg");
    background-size: cover;
}
.accordion ul li:nth-child(4) { background-image: url("../images/max.jpg"); }
.accordion ul li:nth-child(5) { background-image: url("../images/hesse.jpeg"); }
.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover { width: 60%; }
.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.accordion ul:hover li:hover a * {
  opacity: 1;
  transform: translateX(0);
}
/* Accordion Slider */


/* Books Section - Title */
.books-title {
    font-family: 'Edu SA Beginner';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    max-width: 27.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5rem auto 1.25rem auto;
}
.books-title h2 {
    margin: 0.25rem; 
}
.books-text-div {
    max-width: 48.125rem;
    width: 100%;
    margin: 1.438rem auto 3.125rem auto;
    font-family: 'Open Sans SemiCondensed';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: center;
}
/* Books Section - Title */


/* Books Section */
#card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
}
.card {
    width: 18.75rem;
    height: 28.125rem;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center; 
    cursor: pointer;
    margin: 0 auto 1.563rem auto;
}
.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-actions {
    margin: 0.5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#load-more {
    width: 15.625rem;
    padding: 1rem;
    background: rgb(104, 168, 164);
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 900; 
}
#load-more:not([disabled]):hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
#load-more[disabled] {
    background-color: #eaeaea !important;
}
.showing-number span {
    max-width: 36.25rem;
    width: 90%;
    margin: 7.5rem auto 0 auto;
    text-align: center;
    color: #343e54;
    font-family: 'Josefin Sans';
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.showing-number {
    padding-left: 1rem;
}
/* Books Section */


/* Slider */
.bestseller-div h2 {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 4.375rem;
    margin-bottom: -50px;
}
.slider-section {
    background: rgb(28, 59, 87);
    margin: 3rem 0;
}
.slider-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2.188rem;
}
.wrapper {
    max-width: 75rem;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 2.875rem;
    width: 2.875rem;
    text-align: center;
    line-height: 2.875rem;
    background: #fff;
    color: #33445d;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
}
.wrapper i:first-child {
    left: -23px;
    display: none;
}
.wrapper i:last-child {
    right: -23px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 31.25rem;
    object-fit: cover;
    width: calc(98% / 3);
    margin-left: 0.875rem;
    object-position: 50% 20%;
}
.carousel img:first-child {
    margin-left: 0px;
}
/* Slider */


/* Scroll To Top */
html {
    scroll-behavior: smooth;
}
.to-top {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background: #ffffff;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.to-top.activeTop {
    bottom: 2rem;
    pointer-events: auto;
    opacity: 1;
}
/* Scroll To Top */


/* FAQ Accordion  */
.accordion-div-block {
    width: 80%;
    min-height: 100vh;
    margin: 4.375rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.title {
    font-family: 'Open Sans SemiCondensed';
    max-width: 36.25rem;
    width: 90%;
    text-align: center;
    font-weight: 700;
    line-height: 1.5rem;
    color: #343e54;
    font-size: 3rem;
    margin: 6rem 0 2rem 0;
}
.accordion-div-block h2 {
    font-weight: 900;
    line-height: 1.5rem;
    color: #343e54;
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem 0;
}
.faq {
    max-width: 60rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #343e54;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 1.3rem;
    color: #343e54;
    font-weight: 700;
    line-height: 1.5rem;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    color: #343e54;
}
.answer span {
    color: #dd2424;
    font-weight: 900;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}
.faq.activeAccordion .answer {
    max-height: 400px;
    animation: fade 1s ease-in-out;
}
.faq.activeAccordion i {
    transform: rotate(180deg);
}
i {
    transition: transform .5s ease-in;
}
 @keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
 }
/* FAQ Accordion  */

/* Fetch */
.reviews {
    max-width: 15rem;
    width: 100%;
    margin: 4rem auto 1.875rem auto;
}
.reviews h2 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4rem;
    color: #002746;
}
#user-list {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.875rem;
}
.user-name {
    font-size: 1.5rem;
    color: #002746;
    font-weight: 900;
    line-height: 1.4rem;
    margin-bottom: 0.375rem;
    font-family: 'Roboto';
    font-style: normal;
}
.user-info {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #002746;
    font-family: 'Josefin Sans';
    margin-bottom: 0.25rem;
    font-style: normal;
}
.review {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #002746;
    margin-bottom: 1.875rem;
    font-family: 'Roboto';
    font-style: normal;
}
/* Fetch */



/* JS Search */
.filterContainer {
    max-width: 55rem;
    width: 100%;
    margin: 6.25rem auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, .1);
    padding: 1.25rem 0.938rem;
    text-align: center;
}
.filterContainer h1 {
    margin-bottom: 1.25rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.070rem;
    color: #1a3852;
}
.filterContainer input {
    outline: none;
    width: calc(100% - 1px);
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    border: none; 
    border-radius: 0.25rem;
    background: transparent;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.filterContainer input::placeholder {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 1rem;
}
.filterContainer ul {
    width: 100%;
    background-color: #10314d;
    border-radius: 0.25rem;
    cursor: pointer;
}
.filterContainer ul li {
    padding: 0.938rem 0;
}
.filterContainer ul li a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Josefin Sans';
}
.filterContainer ul li:hover {
    background-color: #FFFFFF;
}
.filterContainer ul li:hover a {
    color: #000000; 
}
/* JS Search */



/* Search Books */
.books-section-wrapper {
    max-width: 83.125rem;
    width: 100%;
    margin: 8.125rem auto 0 auto;
}
.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.875rem;
    padding: 0 1.875em;
    margin-bottom: 6.25rem;
}
.div-title h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    font-size: 1.5rem;
    margin-bottom: 1.563rem;
    padding-left: 1.25rem;
}
.book-wrapper img {
    width: 18.75rem;
    height: 25rem;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
/* Search Books */